@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Mochiy+Pop+One&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.modal-container {
    background: white;
    padding: 20px;
    width: 90%; 
    height: 90vh; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 0; 
    position: fixed; 
    top: 30px;
    left: 70px;
    overflow: auto;
    border-radius: 20px; 
}

.section-header {
    background: #cce0f5;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.info:last-child {
    border-bottom: none;
}

.label {
    font-weight: bold;
    color: #333;
}

.value {
    color: #555;
}

.close-button {
    position: absolute; 
    top: 15px;
    right: 30px; 
    font-size: 40px;
    color: gray;
    cursor: pointer;
    background: none; 
    border: none; 
    padding: 0; 
}

.close-button:hover {
    color: black;
}
